:root{
  --background-color: #f0f4f5;
  --font-color-1: #263343;
  --link-color: #b80c16;
  --tag-color: #4589ff;
  --black-color: #1a1717;
}


body{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--background-color);

}

.main{
  padding-left: 15px;
  padding-right: 15px;
}

a{
  text-decoration: none;
}

.nav{
  width: 100%;
  height: 100%;

}

.navbar{
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  height: 80px;
}

/*------navbar_logo section--------*/
.navbar_logo{
  font-size:20px;
  color: var(--black-color); 
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar_logo .bars{
  padding-right: 30px;
  align-items: center;
}

.navbar_logo .youtube_logo{
  color: var(--link-color);
  font-size: 30px;
  align-items: center;
  
}

.navbar_logo a{
  color: var(--black-color) ; 
  font-weight: bold;
  align-items: center;
}
/*------navbar_menu section--------*/
.navbar_menu{
  height: 40px;
  display: flex;
  font-size: 18px;
  list-style: none;
  padding-left: 0px;
  align-items: center;
}

.navbar_menu a{
  color: var(--black-color);
}

.navbar_menu li{
  padding: 4px 8px;
}

.navbar_menu .login_icons{
  font-size: 15px;
  outline-color: var(--tag-color);
  border-radius: 3px;
  border-color: var(--tag-color);
  height: 35px;
  width: 100px;
  color: var(--tag-color);
  border-width: 1px;
}

.navbar_menu .login_icons i{
  font-size: 20px;
  padding-right: 3px;
  
}
/*--------player section----------*/
.player {
  position: static;
  top: 0;
  text-align: center;
  background-color: var(--background-color);
  
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
/*------main_hash_tag section-------*/
.main_hash_tag{
  list-style: none;
}

.main_hash_tag a{
  color: var(--tag-color);
}

.main_hash_tag span{
  padding: 5px;
}
/*--------main_title section--------*/
.main_title{
  display: flex;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.main .main_title_word {
  font-size: 15px;
  margin-right: 10px;
}
.main .main_title .main_title_word.clamp{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.main .main_title .text_button.clicked{
  transform: rotate(180deg);
}

.main_title li{
  padding: 5px;
}
.main_title button {
  height: 100%;
  border:0;
  outline: 0;
  
}

.main_title_info{
  color:var(--font-color-1);
  padding-left: 0px;
  margin-top: 0px;
  font-size: 10px;
  height: 20px
}
/*----main_action_button section---*/
.main_action_button{
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-direction: row;
  margin-top: -30px;
  margin-bottom: -30px;
  background-color: var(--background-color);
}

.main_action_button button{
  color:var(--font-color-1);
  align-items: center;
  margin-left: auto;
  font-size: 40px;
  border:0;
  outline: 0;
  background-color: var(--background-color);
  
}

.main_action_button button i.active{
 color:var(--tag-color); 

}
.main_action_button div{
  align-items: center;
  color:var(--font-color-1);
  font-size: 12px;
}
.main_action_button li{
  font-size: 45px;
  padding: 30px;
}
/*--------subscr section----------*/
.subscr{
  display: flex;
  border-bottom: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
  font-size: 17px;
}
.subscr a{
  color: var(--font-color-1);
  padding-left: 10px;
  margin-right: 10px;
  font-size:25px;
}

button.subscr_scr{
  margin-left: auto;
  font-size:20px;
}
.subscr_scr{
  margin-left:  auto;
  background-color: #ff404d;
  border-radius: 5px;
  box-shadow: white;
  color: white;
  padding-right: 2px;
  padding-left: 2px;
}

.subscr .subscr_title .info{
  display: flex;
  flex-direction: column;
  padding: 7px;
}
.info .subscr_sub{
  font-size: 15px;
}

.subscr img{
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.subscr_title{
  display: flex;
}
/*--------upnext section----------*/
.upnext ul{
  padding-left:5px;
}
.upnext li{
  list-style:none;
  display:flex;
  padding-bottom: 15px;
}
.upnext{
  padding:  0 15px;
}

.upnext button{
  border:0;
  outline: 0;
  background-color: var(--background-color);
}
.upnext > .title{
  margin-bottom: calc(15/2);
}

.upnext .item .img{
  flex: 1 1 35%;
}
.upnext .item .img img{
  width: 100%;
}

.upnext .item .pluse_info{
  flex: 1 1 5%;
  height: 100%;
}

.upnext .item .info{
  flex: 1 1 60%;
}

.upnext .item .info{
  display: flex;
  flex-direction: column;
}

.upnext .item .info .name,.upnext .item .info .view{
  font-size: 12px;
  color: var(--font-color-1);
}
/*-------MainAndUpnext section------*/
.MainAndUpnext{
  display: flex;
  flex-direction: column;
}
/*-------searchbox section----------*/
.searchbox{
  display: flex;
  padding-left: 0;
  border-radius: 3px;
  border-color:#b5ab9c;
  justify-content: center;
  list-style: none;
  
}

.searchbox input{
  flex-wrap: wrap;
  width: 300px;
  height: 30px;
  font-size: 20px;
  flex-grow: 1;

}

.searchbox input:focus{
  outline: 2px #b5ab9c;
}

.searchbox .search_logo{
  font-size: 26px;
  border-color: #b5ab9c;
  border-width: 1.5px;
  background-color: var(--background-color);
  border-radius: 2px;

}

.searchbox .search_logo i{
  font-size: 15px;
  background-color: var(--background-color);

}

.searchbox .search_mic_logo{
  font-size: 26px;
  background-color: var(--background-color);
  border: 0;
  outline: 0;
 
}

.searchbox .search_mic_logo i{
  font-size: 15px;
  background-color: var(--background-color);
}

/*--------media section----------*/

@media screen and (min-width: 768px){
  .MainAndUpnext{
    flex-direction: row;
    margin: 15px 0;
  }
}


@media screen and (max-width: 768px){
  .navbar_logo{
    padding-left: 3px;
    font-size: 15px;
  }
  .youtube_logo{
    padding-left: 3px;
    font-size: 15px;
  }

  .navbar_menu{
    font-size: 15px;
    height: 33px;
    padding-top: 5px;
  }

  .navbar_logo .bars{
   padding-right: 5px;
  }

  .main_action_button button{
    font-size: 30px;
  }

  .main_action_button li{
    font-size: 35px;
    padding: 20px;
 }
 
}

@media screen and (max-width: 500px){
  .searchbox input{
    display: none;
  }

  .searchbox .search_logo{
    border: 0;
    outline:  0;
  }

  .searchbox{
    margin-left: auto;
  }

  .navbar_menu{
    align-items: center;
    
  }

}
